# Hostinger hPanel Node.js / Apache Proxy Configuration
DirectoryIndex index.js

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ http://127.0.0.1:4000/$1 [P,L]
</IfModule>
